<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="patch" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="hidden" name="${_user.get}" value="${_csrf.token}" />
    <label for="name">Name</label>
    <input type="text" th:field="${user.name}" id="name"/>

    </br>

    <label for="lastName">Last Name</label>
    <input th:field="${user.lastName}" type="text" id="lastName"/>

    </br>

    <label for="age">Age</label>
    <input th:field="${user.age}" type="text" id="age"/>

    </br>

    <label for="email">E-mail</label>
    <input th:field="${user.email}" type="text" id="email"/>

    </br>

    <input type="submit" value="Update"/>
</form>

</body>
</html>